* {
  text-align: center;
  color: aliceblue;
  background-color: rgb(70, 70, 70);
  font-family: "Exo 2", sans-serif;
}

.start {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 1%;
}

.inputStart {
  border-radius: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1.5em;
  width: 30%;
  padding-right: 1.5em;
}

Button {
  border-radius: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

input {
  border: 2px solid rgba(240, 248, 255, 0.712);
}

.one {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.nameDiv {
  padding-top: 2%;
}

.nameDiv h2 {
  display: inline;

}

hr {
  width: 25%;
}

.oneChoices {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
}

.oneChoices div {
  display: flex;
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  padding: 1%;
  padding-left: 1.25%;
  padding-right: 1.25%;
}

.oneChoice1:hover {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.oneChoice1:hover h2 {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.oneChoice2:hover {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.oneChoice2:hover h2 {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.intern {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.internImg {
  width: 50%;
  height: 50%;
}

.two {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 1%;
}

.twoChoices {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
}

.twoChoices div {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  padding: 1%;
}

.person1:hover {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person1:hover h2 {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person1:hover h4 {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person2:hover {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person2:hover h2 {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person2:hover h4 {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.pickPerson1 {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 1%;
}

.person1Choices {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
}

.person1Choices div {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  padding: 1%;
}

.person1Pick1:hover {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person1Pick1:hover h2 {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person1Pick2:hover {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person1Pick2:hover h2 {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.fired {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 1%;
}

.h1Keep {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.pickPerson2 {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 1%;
}

.person2Choices {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
}

.person2Choices div {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  padding: 1%;
}

.person2Pick1:hover {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person2Pick1:hover h2 {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person2Pick2:hover {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.person2Pick2:hover h2 {
  color: rgb(70, 70, 70);
  background-color: aliceblue;
}

.h1Fired2 {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.h1Keep2 {
  border: 1px solid aliceblue;
  border-radius: 1.5em;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}